body{
    scroll-behavior: smooth;
}


.masthead{
    background: #272727;
}

.navbar-default .navbar-brand{
    font-family: 'Poppins', sans-serif;
    color: #F9A602;
    font-size: 24px;
    transition: 0.3s;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #ffa502;
    transform: scale(1.05);
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a{
    color: grey;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.navbar-default{
    background: #232B2B;
    border-color: #232B2B;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color: #ffa502;
}

.name-container{
    background: #232B2B;
}
h3{
    margin-top: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
     
}

.Details{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-decoration: underline;
}
.Details:hover{
    color: #ffa502;
    cursor: pointer;
}

.glyphicon{
    padding-left: 50%;
    color: #FFFFFF;
}
.glyphicon:hover{
    color: #3C5898;
}

#Milan-logo{
    color: #FFFFFF;
    text-align: center;
    padding-top: 25%;
}

.row{
    padding-top: 70px;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bolder;
    letter-spacing: 2px;
}

section{
    padding: 150px;
}

.image-logo{
    width: 300px;
    height: 300px;
    background: transparent !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.text-muted{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.container{
    text-align: center;
}

.bg-light{
    padding: 25px 0;
    background: #f8f9fa;

}

.fa-instagram, .fa-twitter, .fa-facebook, .fa-youtube, .fa-linkedin{
    color: #232B2B;
    background: whitesmoke;
    outline: none;
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    transition: 0.3s;
}

.fa-instagram:hover, .fa-twitter:hover, .fa-facebook:hover, .fa-youtube:hover, .fa-linkedin:hover{
    background: #ffa502;
    border-radius: 50%;
}

h6 a{
    font-size: 16px;
    font-family: inherit;
    color: #232B2B;
    text-decoration: none;
}

h6 a:hover{
    text-decoration: none;
    color: #232B2B;
}